<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>
<body>
    <h1><%=category%>  products</h1>
   <ul>
    <% for(let x of p) {%>
     <li><%=x.name%></li>
     <span><a href="/<%=x.id%>">Detail</a></span>
     <% } %> 
  </ul>
    <a href="http://localhost:3000/add">addNew</a>
    <% if(category!=="ALL") { %> 
    <a href="/">All Products</a>
    <% } %> 
</body>
</html>